<div class="row">
  <div class="col-md-6 ">
    <p><em><b>DERNIER TICKET SAISI</b></em></p>
    <!-- s'il n'y a aucun ticket encore, on n'affiche rien -->
    <% if @lastticket -%>
      <!-- wah comme c'est moche ! espacement à faire en css    -->
      <p>Numéro:&nbsp;&nbsp;&nbsp;<%= @lastticket.numéro %></p>
      <p>Date des ventes:&nbsp;&nbsp;&nbsp;<%= I18n.localize(@lastticket.date, format: "%A %d/%m/%Y") %></p>
      <p>ttc20:&nbsp;&nbsp;&nbsp;<%= sprintf("%05.2f", @lastticket.ttc20) %></p>
      <p>ttc5:&nbsp;&nbsp;&nbsp;<%= sprintf("%05.2f", @lastticket.ttc5) %></p>
      <p>Caisse réelle:&nbsp;&nbsp;&nbsp;<%= sprintf("%05.2f", @lastticket.caisseréelle) %></p>
      <p>trou de caisse:&nbsp;&nbsp;&nbsp;<%= sprintf("%+05.2f", @lastticket.trou_de_caisse) %></p>
      
      <p>----------------</p>
      <p>tva 20:&nbsp;&nbsp;&nbsp;<%= sprintf("%05.2f", @lastticket.tva20) %></p>
      <p>tva 5:&nbsp;&nbsp;&nbsp;<%= sprintf("%04.2f", @lastticket.tva5) %></p>
      <p>total ttc:&nbsp;&nbsp;&nbsp;<%= sprintf("%05.2f", @lastticket.totalTTC) %></p>
      
      
      <%= link_to "annuler", "#", :class => "btn btn-default" %>
    <% end -%>
  </div>



  <div class="col-md-6 ">
    <p><em><b>NOUVEAU TICKET</b></em></p>
    <%= form_for(@newticket) do |t| %>
      <%= t.label "Numéro de ticket" %>
      <%= t.text_field :numéro %>

      <%= t.label "Date des ventes" %>
      <%= select_date @newticket.date_par_défaut, prefix: :date, use_two_digit_numbers: :true %>

      <%= t.label 'Montant TTC 20%' %>
      <%= t.text_field :ttc20 %>

      <%= t.label 'Montant TTC 5%' %>
      <%= t.text_field :ttc5 %>

      <%= t.label "caisse réelle"%>
      <%= t.text_field :caisseréelle %>

      <%= t.submit "créer le ticket", class: "btn btn-primary" %>
    <% end %>
  </div>


</div>




