<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!-- wah comme c'est moche ! espacement à faire en css    -->
    <p>Numéro:&nbsp;&nbsp;&nbsp;<%= @ticket.numéro %></p>
    <p>Date:&nbsp;&nbsp;&nbsp;<%= @ticket.date.strftime("%d/%m/%Y") %></p>
    <p>ttc20:&nbsp;&nbsp;&nbsp;<%= sprintf("%05.2f", @ticket.ttc20) %></p>
    <p>ttc5:&nbsp;&nbsp;&nbsp;<%= sprintf("%05.2f", @ticket.ttc5) %></p>
    <p>Caisse réelle:&nbsp;&nbsp;&nbsp;<%= sprintf("%05.2f", @ticket.caisseréelle) %></p>
    <p>trou de caisse:&nbsp;&nbsp;&nbsp;<%= sprintf("%+05.2f", @ticket.trou_de_caisse) %></p>

    <p>----------------</p>
    <p>tva 20:&nbsp;&nbsp;&nbsp;<%= sprintf("%05.2f", @ticket.tva20) %></p>
    <p>tva 5:&nbsp;&nbsp;&nbsp;<%= sprintf("%04.2f", @ticket.tva5) %></p>
    <p>total ttc:&nbsp;&nbsp;&nbsp;<%= sprintf("%05.2f", @ticket.totalTTC) %></p>


    <%= link_to "annuler", "#" %>   ---   <%= link_to "saisir un autre", new_ticket_url %>  
  </div>
  <!--  <%= link_to "Tous les tickets en CSV", tickets_path(format: "csv") %>   -->
</div>
